/* Заголовок на главной странице */
main .body-main-title {
  margin-top: 4.7rem;
}

/* Основной заголовок */
main .body-main-title h1 {
  font-weight: 700;
  font-size: 8rem;
  line-height: 100%;
  color: #fff;
  margin-bottom: 2.5rem;
}

/* Подзаголовок */
main .body-main-title p {
  font-weight: 700;
  font-size: 2rem;
  line-height: 100%;
  color: #fff;
  margin-bottom: 3rem;
}

/* Основной контейнер контента */
main .body-main-content {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

/* Контейнер для социальных ссылок */
main .body-main-content .body-main-social-items {
  display: flex;
  flex-direction: column-reverse;
  gap: 2.5rem;
}

/* Элемент социальной ссылки */
main .body-main-content .body-main-social-items .body-main-social-item {
  transition: 0.3s linear;
}

/* Эффект при наведении на социальную ссылку */
main .body-main-content .body-main-social-items .body-main-social-item:hover {
  transform: scale(1.03);
}

/* Стили для кнопки */
.pushable {
  background: #2e9635;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  outline: none;
}

/* Эффект при наведении на кнопку */
.pushable:hover {
  background: #34bd37;
}

/* Внутренний блок кнопки */
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 2rem;
  font-weight: 700;
  background: #9bd25a;
  color: white;
  transform: translateY(-6px);
}

/* Эффект при нажатии на кнопку */
.pushable:active .front {
  transform: translateY(-2px);
}
