/* Основной контейнер для страницы авторизации */
main .body-login-container {
  display: flex; /* Устанавливаем флекс-контейнер */
  flex-direction: row; /* Расположение элементов в строку */
  justify-content: center; /* Центрируем элементы по горизонтали */
  align-items: center; /* Центрируем элементы по вертикали */
  margin-top: 2.8rem; /* Отступ сверху */
  height: 80vh; /* Высота контейнера */
}

/* Блок авторизации */
main .body-login-container .body-login {
  backdrop-filter: blur(7px); /* Размытие фона */
  padding: 5rem; /* Внутренние отступы */
  border-radius: 30px; /* Скругление углов */
  display: flex; /* Устанавливаем флекс-контейнер */
  flex-direction: column; /* Расположение элементов в колонку */
}

/* Заголовок в блоке авторизации */
main .body-login-container .body-login h2 {
  text-align: center; /* Центрирование текста */
  font-size: 2.4rem; /* Размер шрифта */
  font-weight: 700; /* Толщина шрифта */
  color: #ffffff; /* Цвет текста */
  margin: 2rem 0 2rem; /* Отступы сверху и снизу */
}

/* Текстовые элементы в блоке авторизации */
main .body-login-container .body-login .body-login-inputs p {
  font-size: 2.4rem; /* Размер шрифта */
  color: #ffffff; /* Цвет текста */
  text-align: center; /* Центрирование текста */
  margin: 1.5rem 0 1.5rem; /* Отступы сверху и снизу */
}

/* Контейнер для полей ввода */
main .body-login-container .body-login .body-login-inputs {
  display: flex; /* Устанавливаем флекс-контейнер */
  flex-direction: column; /* Расположение элементов в колонку */
  align-items: center; /* Центрирование элементов */
}

/* Поля ввода */
main .body-login-container .body-login .body-login-inputs input {
  border: none; /* Убираем рамку */
  outline: none; /* Убираем обводку */
  border-radius: 30px; /* Скругление углов */
  text-align: center; /* Центрирование текста */
  width: 370px; /* Ширина поля */
  height: 45px; /* Высота поля */
}

/* Кнопка авторизации */
main .body-login-container .body-login .body-login-btn button {
  margin-top: 2rem; /* Отступ сверху */
  border: none; /* Убираем рамку */
  border-radius: 3rem; /* Скругление углов */
  outline: none; /* Убираем обводку */
  font-size: 1.5rem; /* Размер шрифта */
  padding: 1rem; /* Внутренние отступы */
  cursor: pointer; /* Курсор указателя */
  transition: 0.3s linear; /* Анимация при наведении */
  padding: 1rem 4rem; /* Отступ для кнопки слева и справа сверху и снизу */
}

/* Ховер-эффект для кнопки авторизации */
main .body-login-container .body-login .body-login-btn button:hover {
  background-color: #ffc0cb; /* Цвет фона при наведении */
  color: #ffffff; /* Цвет текста при наведении */
}

/* Ссылки в блоке авторизации */
main .body-login-container .body-login .body-login-links {
  display: flex; /* Устанавливаем флекс-контейнер */
  gap: 2rem; /* Расстояние между ссылками */
  margin-top: 2rem; /* Отступ сверху */
}

/* Стили для ссылок */
main .body-login-container .body-login .body-login-links a {
  font-size: 1.8rem; /* Размер шрифта */
  color: #ffffff; /* Цвет текста */
  transition: 0.3s linear; /* Анимация при наведении */
}

/* Ховер-эффект для ссылок */
main .body-login-container .body-login .body-login-links a:hover {
  color: #ffc0cb; /* Цвет текста при наведении */
}
