/* Основной контейнер для личного кабинета */
main .body-personal-container {
  max-width: 1200px; /* Максимальная ширина контейнера */
  margin: 0 auto; /* Центрирование контейнера */
  margin-top: 4.1rem; /* Отступ сверху */
  margin-bottom: 4.1rem; /* Отступ снизу */
}

/* Фон и структура блока личного кабинета */
main .body-personal-container .body-personal-bg {
  background-color: #00000080; /* Полупрозрачный черный фон */
  border-radius: 3rem; /* Скругление углов */
  padding-top: 5rem; /* Внутренний отступ сверху */
  padding-bottom: 5rem; /* Внутренний отступ снизу */
  padding-left: 12rem; /* Внутренний отступ слева */
  padding-right: 12rem; /* Внутренний отступ справа */
  display: flex; /* Устанавливаем флекс-контейнер */
  flex-direction: row; /* Расположение элементов в строку */
  justify-content: center; /* Центрирование элементов по горизонтали */
  gap: 9.5rem; /* Расстояние между элементами */
}

/* Заголовок блока "Ваш скин" */
main .body-personal-container .body-personal-bg .body-personal-skin-con p {
  text-align: center; /* Центрирование текста */
  padding-bottom: 2rem; /* Отступ снизу */
  font-size: 2.4rem; /* Размер шрифта */
  color: #ffffff; /* Белый цвет текста */
  line-height: 100%; /* Межстрочный интервал */
}

/* Блок отображения скина пользователя */
main
  .body-personal-container
  .body-personal-bg
  .body-personal-skin-con
  .body-personal-skin {
  background-color: #00000099; /* Полупрозрачный черный фон */
  border-radius: 3rem; /* Скругление углов */
  width: 435px; /* Ширина блока */
  height: 344px; /* Высота блока */
}

/* Заголовок блока смены пароля */
main
  .body-personal-container
  .body-personal-bg
  .body-personal-password-change-con
  p {
  text-align: center; /* Центрирование текста */
  padding-bottom: 2rem; /* Отступ снизу */
  font-size: 2.4rem; /* Размер шрифта */
  color: #ffffff; /* Белый цвет текста */
  line-height: 100%; /* Межстрочный интервал */
}

/* Контейнер для смены пароля */
main
  .body-personal-container
  .body-personal-bg
  .body-personal-password-change-con {
  display: flex; /* Устанавливаем флекс-контейнер */
  flex-direction: column; /* Расположение элементов в колонку */
}

/* Фон и структура формы смены пароля */
main
  .body-personal-container
  .body-personal-bg
  .body-personal-password-change-con
  .body-personal-password-change {
  background-color: #00000099; /* Полупрозрачный черный фон */
  border-radius: 3rem; /* Скругление углов */
  width: 434px; /* Ширина формы */
  height: 443px; /* Высота формы */
}

/* Внутренние элементы формы смены пароля */
main
  .body-personal-container
  .body-personal-bg
  .body-personal-password-change-con
  .body-personal-password-change
  .form-inputs {
  display: flex; /* Устанавливаем флекс-контейнер */
  flex-direction: column; /* Расположение элементов в колонку */
  justify-content: center; /* Центрирование элементов по вертикали */
  align-items: center; /* Центрирование элементов по горизонтали */
  padding-top: 2.8rem; /* Внутренний отступ сверху */
}

/* Поля ввода в форме смены пароля */
main
  .body-personal-container
  .body-personal-bg
  .body-personal-password-change-con
  .body-personal-password-change
  .form-inputs
  input {
  border: none; /* Убираем рамку */
  outline: none; /* Убираем обводку */
  border-radius: 3rem; /* Скругление углов */
  width: 370px; /* Ширина поля */
  height: 65px; /* Высота поля */
  margin-bottom: 1.7rem; /* Отступ снизу */
  text-align: center; /* Центрирование текста */
  font-size: 1.9rem; /* Размер шрифта */
}

/* Контейнер для кнопки смены пароля */
main .body-personal-container .body-personal-password-change-button {
  display: flex; /* Устанавливаем флекс-контейнер */
  justify-content: center; /* Центрирование кнопки */
}

/* Кнопка смены пароля */
main .body-personal-container .body-personal-password-change-button button {
  border: none; /* Убираем рамку */
  outline: none; /* Убираем обводку */
  padding: 1rem; /* Внутренние отступы */
  cursor: pointer; /* Курсор указателя */
  border-radius: 3rem; /* Скругление углов */
  padding: 1rem 4rem; /* Внутренние отступы по горизонтали и вертикали */
  transition: 0.3s linear; /* Анимация при наведении */
  margin-top: 1rem; /* Отступ сверху */
}

/* Эффект при наведении на кнопку смены пароля */
main
  .body-personal-container
  .body-personal-password-change-button
  button:hover {
  background-color: #ffc0cb; /* Цвет фона при наведении */
  color: white; /* Цвет текста при наведении */
}
