/* Основной контейнер для страницы регистрации */
main .body-registration-container {
  display: flex; /* Устанавливаем флекс-контейнер */
  flex-direction: row; /* Расположение элементов в строку */
  justify-content: center; /* Центрируем элементы по горизонтали */
  align-items: center; /* Центрируем элементы по вертикали */
  margin-top: 2.8rem; /* Отступ сверху */
}

/* Блок регистрации */
main .body-registration-container .body-registration {
  backdrop-filter: blur(7px); /* Размытие фона */
  background-color: #00000080; /* Черный фон */
  padding: 5rem; /* Внутренние отступы */
  border-radius: 30px; /* Скругление углов */
  display: flex; /* Устанавливаем флекс-контейнер */
  flex-direction: column; /* Расположение элементов в колонку */
}

/* Заголовок в блоке регистрации */
main .body-registration-container .body-registration h2 {
  text-align: center; /* Центрирование текста */
  font-size: 2.4rem; /* Размер шрифта */
  font-weight: 700; /* Толщина шрифта */
  color: #ffffff; /* Цвет текста */
  margin: 2rem 0 2rem; /* Отступы сверху и снизу */
}

/* Текстовые элементы в блоке регистрации */
main
  .body-registration-container
  .body-registration
  .body-registration-inputs
  p {
  font-size: 2.4rem; /* Размер шрифта */
  color: #ffffff; /* Цвет текста */
  text-align: center; /* Центрирование текста */
  margin: 1.5rem 0 1.5rem; /* Отступы сверху и снизу */
}

/* Контейнер для полей ввода */
main .body-registration-container .body-registration .body-registration-inputs {
  display: flex; /* Устанавливаем флекс-контейнер */
  flex-direction: column; /* Расположение элементов в колонку */
  align-items: center; /* Центрирование элементов */
}

/* Поля ввода */
main
  .body-registration-container
  .body-registration
  .body-registration-inputs
  input {
  border: none; /* Убираем рамку */
  outline: none; /* Убираем обводку */
  border-radius: 30px; /* Скругление углов */
  text-align: center; /* Центрирование текста */
  width: 370px; /* Ширина поля */
  height: 45px; /* Высота поля */
}

/* Дополнительные стили для блока регистрации */
main .body-registration-container .body-registration {
  display: flex; /* Устанавливаем флекс-контейнер */
  align-items: center; /* Центрирование элементов по вертикали */
}

/* Кнопка регистрации */
main .body-registration-container .body-registration button {
  margin-top: 2rem; /* Отступ сверху */
  border: none; /* Убираем рамку */
  border-radius: 3rem; /* Скругление углов */
  outline: none; /* Убираем обводку */
  font-size: 1.5rem; /* Размер шрифта */
  padding: 1rem; /* Внутренние отступы */
  cursor: pointer; /* Курсор указателя */
  transition: 0.3s linear; /* Анимация при наведении */
}

/* Ховер-эффект для кнопки регистрации */
main .body-registration-container .body-registration button:hover {
  background-color: #ffc0cb; /* Цвет фона при наведении */
  color: #ffffff; /* Цвет текста при наведении */
}
