main .body-rules-title {
  display: flex; /* Устанавливаем флекс-контейнер */
  flex-direction: column; /* Расположение элементов в колонку */
  justify-content: center; /* Центрирование по вертикали */
  align-items: center; /* Центрирование по горизонтали */
  margin-top: 8rem; /* Отступ сверху */
  margin-bottom: 6rem;
}

/* Заголовок правил */
main .body-rules-title h2 {
  font-size: 6rem; /* Размер шрифта заголовка */
  color: #ffffff; /* Белый цвет текста */
  font-weight: 700; /* Жирный шрифт */
  margin-bottom: 1rem; /* Отступ снизу */
}

/* Подзаголовок правил */
main .body-rules-title p {
  font-size: 3rem; /* Размер шрифта подзаголовка */
  color: #ffffff; /* Белый цвет текста */
  font-weight: 700; /* Жирный шрифт */
}

main .accordion-container {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

main .accordion-container .accordion-block .accordion {
  background-color: #00000080;
  border-radius: 30px;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 1.5rem;
}

main .accordion-container .accordion-block .panel {
  border-radius: 30px;
}

main .accordion-container .accordion-block .panel ol li {
  list-style-type: disc;
  padding-bottom: 1rem;
}

main .accordion-container .accordion-block .panel p {
  padding-top: 2rem;
}

main .accordion-container .accordion-block .panel ol {
  padding: 10px 20px;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding-left: 20px;
  background-color: #000000bc;
  color: white;
  font-size: 1.5rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
