.multi-carousel {
  position: relative;
  max-width: 1000px;
  overflow: hidden;
  border-radius: 16px;
}

.multi-carousel__track-container {
  overflow: hidden;
}

.multi-carousel__track {
  display: flex;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  gap: 16px;
  user-select: none;
}

.multi-carousel__slide {
  flex: 0 0 calc(33.333% - 11px);
  min-width: 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  background-color: #00000059;
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.3s;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  padding: 2.2rem;
  cursor: pointer;
}

.card p {
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 100%;
}

.card:hover {
  transform: scale(1.03);
}

.card .card-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .multi-carousel__slide {
    flex: 0 0 calc(50% - 8px);
  }
  .multi-carousel__track {
    gap: 12px;
  }
}

@media screen and (max-width: 767px) {
  .multi-carousel__slide {
    flex: 0 0 calc(50% - 16px);
  }
  .multi-carousel__track {
    gap: 10px;
    padding: 10px;
  }
}

@media screen and (max-width: 560px) {
  .multi-carousel__slide {
    flex: 0 0 calc(50% - 12px);
  }
  .multi-carousel__track {
    gap: 10px;
    padding: 6px;
  }
}

@media screen and (max-width: 380px) {
  .multi-carousel__slide {
    flex: 0 0 100%;
  }
  .multi-carousel__track {
    gap: 4px;
    padding: 4px;
  }
}
