/* Основной контейнер карусели */
.multi-carousel {
  position: relative;
  max-width: 1000px;
  overflow: hidden;
  border-radius: 16px;
}

/* Карточка внутри карусели */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6rem;
  background-color: #00000059;
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.3s;
  padding: 2.2rem;
  height: 100%;
}

/* Текст внутри карточки */
.card p {
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 100%;
}

/* Изображение внутри карточки */
.card .card-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
