.multi-carousel {
  position: relative;
  max-width: 1000px;
  overflow: hidden;
  border-radius: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6rem;
  background-color: #00000059;
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.3s;
  padding: 2.2rem;
  height: 100%;
}

.card p {
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 100%;
}

.card .card-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

/* @media screen and (max-width: 992px) {
  .multi-carousel__slide {
    flex: 0 0 calc(50% - 8px);
  }
  .multi-carousel__track {
    gap: 12px;
  }
}

@media screen and (max-width: 767px) {
  .multi-carousel__slide {
    flex: 0 0 calc(50% - 16px);
  }
  .multi-carousel__track {
    gap: 10px;
    padding: 10px;
  }
}

@media screen and (max-width: 560px) {
  .multi-carousel__slide {
    flex: 0 0 calc(50% - 12px);
  }
  .multi-carousel__track {
    gap: 10px;
    padding: 6px;
  }
}

@media screen and (max-width: 380px) {
  .multi-carousel__slide {
    flex: 0 0 100%;
  }
  .multi-carousel__track {
    gap: 4px;
    padding: 4px;
  }
} */
