/* Импорт стилей и шрифтов */
@import url("./preloader.css"); /* Стили для прелоадера */
@import url("./cssReset.css"); /* Сброс стандартных стилей */
@import url("./caroulsel.css"); /* Стили для карусели */
@import url("./header/header.css"); /* Стили для шапки сайта */
@import url("./main/main.css"); /* Основные стили для главной страницы */
@import url("./footer/footer.css"); /* Стили для футера */
@import url("./main/registration.css"); /* Стили для страницы регистрации */
@import url("./main/login.css"); /* Стили для страницы авторизации */
@import url("./main/personal.css"); /* Стили для персонального кабинета */
@import url("./main/rules.css"); /* Стили для правил */
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic); /* Шрифт всего проекта */

/* Основные стили для body */
body {
  background-repeat: no-repeat; /* Отключение повторения фона */
  background-size: cover; /* Растягивание фона на весь экран */
  font-display: swap; /* Оптимизация отображения шрифтов */
}

/* Основные стили для main */
main {
  padding: 0 7.1rem; /* Отступы для основного контента */
}

/* Стили для swiper */
.swiper {
  margin-left: inherit !important; /* Унаследованный отступ слева */
  margin-right: inherit !important; /* Унаследованный отступ справа */
}

/* Медиа-запросы для адаптивности */

/* Экран до 1299px (ноутбуки и планшеты в альбомной ориентации) */
@media screen and (max-width: 1299px) {
  body {
    min-height: 100vh; /* Минимальная высота для body */
  }

  header {
    margin: 3.1rem 3.1rem 0; /* Отступы для шапки сайта */
  }

  header .header-links .header-link {
    gap: 2rem; /* Расстояние между ссылками */
  }

  header .header-links .header-link a {
    font-size: 1.8rem; /* Размер шрифта ссылок */
  }

  header .header-links .header-join-us a {
    font-size: 1.8rem; /* Размер шрифта кнопки "Присоединяйтесь к нам" */
  }

  main {
    padding: 0 4.1rem; /* Отступы для основного контента */
  }

  main .body-main-content {
    flex-direction: column; /* Колонка для основного контента */
  }

  main .body-main-content .body-main-social-items {
    margin-top: 3rem; /* Отступ сверху для социальных иконок */
    flex-direction: row; /* Горизонтальное выравнивание */
    justify-content: center; /* Центрирование элементов */
  }

  main .body-main-title h1 {
    font-size: 6.5rem; /* Размер заголовка */
  }
}

/* Экран до 992px (планшеты в портретной ориентации) */
@media screen and (max-width: 992px) {
  main {
    padding: 0 3.2rem; /* Отступы для основного контента */
  }

  main .body-main-title {
    margin-top: 2.7rem; /* Отступ сверху для заголовка */
  }

  html.overflowing {
    overflow-y: hidden; /* Отключение вертикальной прокрутки */
  }

  header {
    margin: 3.2rem 3.2rem 0; /* Отступы для шапки сайта */
  }

  header .header-links .header-link {
    display: none; /* Скрытие ссылок */
  }

  header .header-links .header-join-us a {
    font-size: 1.8rem; /* Размер шрифта кнопки "Присоединяйтесь к нам" */
  }

  header .header-links .burger-menu-con {
    display: flex; /* Отображение бургер-меню */
    justify-content: end; /* Выравнивание по правому краю */
    height: 100%; /* Высота контейнера */
  }

  header .header-links .burger-menu-con .burger-button {
    border: none; /* Удаление рамки */
    outline: none; /* Удаление обводки */
    background-color: transparent; /* Прозрачный фон */
    cursor: pointer; /* Курсор указателя */
  }

  header .header-links .burger-menu-con .burger-menu-nav {
    position: fixed; /* Фиксированное положение */
    right: -300px; /* Начальное положение справа */
    backdrop-filter: blur(7px); /* Размытие фона */
    background-color: #00000080; /* Черный фон */
    top: 0; /* Верхний край */
    padding: 3rem; /* Внутренние отступы */
    width: 300px; /* Ширина меню */
    height: 100%; /* Высота меню */
    z-index: 200; /* Порядок наложения */
    transition: right 0.3s linear; /* Анимация появления */
  }

  header .header-links .burger-menu-con .burger-menu-nav.open {
    right: 0; /* Открытое состояние меню */
  }

  header .header-links .burger-menu-con .mobile-overlay.active {
    visibility: visible; /* Видимость затемнения */
    opacity: 1; /* Прозрачность затемнения */
    background-color: #191919bf; /* Цвет затемнения */
    position: fixed; /* Фиксированное положение */
    inset: 0; /* Растяжение на весь экран */
    z-index: 180; /* Порядок наложения */
  }

  header .header-links .burger-menu-con .burger-menu-nav nav {
    display: flex; /* Отображение навигации */
    flex-direction: column; /* Колонка для ссылок */
    justify-content: space-between; /* Равномерное распределение */
    height: 50%; /* Высота навигации */
  }

  header .header-links .burger-menu-con .burger-menu-nav nav img {
    max-width: 3rem; /* Максимальная ширина изображений */
    cursor: pointer; /* Курсор указателя */
  }

  header .header-links .burger-menu-con .burger-menu-nav nav a {
    font-size: 2rem; /* Размер шрифта ссылок */
    font-weight: 700; /* Жирный шрифт */
    line-height: 100%; /* Межстрочный интервал */
    color: #ffffff; /* Белый цвет текста */
    transition: 0.3s linear; /* Анимация при наведении */
  }

  header .header-links .burger-menu-con .burger-menu-nav nav a:hover {
    color: hotpink; /* Цвет текста при наведении */
  }

  header .header-links .header-personal a {
    font-size: 1.8rem; /* Размер шрифта персональных ссылок */
  }

  header .header-links .header-personal img {
    max-width: 5rem; /* Максимальная ширина изображений профиля */
  }

  main .body-personal-container .body-personal-bg {
    padding-top: 3rem; /* Внутренний отступ сверху */
    padding-bottom: 3rem; /* Внутренний отступ снизу */
    padding-left: 5rem; /* Внутренний отступ слева */
    padding-right: 5rem; /* Внутренний отступ справа */
    flex-direction: column; /* Колонка для контента */
    align-items: center; /* Центрирование элементов */
    gap: 1rem; /* Расстояние между элементами */
  }

  main
    .body-personal-container
    .body-personal-bg
    .body-personal-password-change-con
    .body-personal-password-change
    .form-inputs
    input {
    height: 47px; /* Высота полей ввода */
  }

  main
    .body-personal-container
    .body-personal-bg
    .body-personal-password-change-con
    p {
    font-size: 1.2rem; /* Размер шрифта текста */
  }

  .body-personal-skin-con {
    display: none; /* Скрытие раздела скин-персонализации */
  }

  main .body-main-content {
    flex-direction: column; /* Колонка для основного контента */
    margin-top: 3rem; /* Отступ сверху */
  }

  main .body-main-content .body-main-social-items {
    margin: 3rem 0 3rem; /* Отступы для социальных иконок */
    flex-direction: row; /* Горизонтальное выравнивание */
    justify-content: center; /* Центрирование элементов */
  }

  main .body-main-title h1 {
    font-size: 5rem; /* Размер заголовка */
  }

  /* Секция заголовка для правил */
  main .body-rules-title {
    margin-top: 3rem; /* Отступ сверху для заголовка */
  }

  /* Заголовок правил */
  main .body-rules-title h2 {
    font-size: 3rem; /* Размер шрифта заголовка */
  }

  /* Подзаголовок правил */
  main .body-rules-title p {
    font-size: 2.5rem; /* Размер шрифта подзаголовка */
  }

  /* Контейнер для карточек правил */
  main .body-rules-cards {
    margin-top: 3rem; /* Отступ сверху для карточек */
    grid-template-columns: repeat(
      auto-fit,
      minmax(350px, 1fr)
    ); /* Адаптивная сетка карточек */
  }

  footer .footer-container {
    margin: 2.1rem 2.1rem; /* Отступы для футера */
  }
}

/* Экран до 767px (смартфоны в альбомной ориентации) */
@media screen and (max-width: 767px) {
  /* Устанавливаем отступы для header */
  header {
    margin: 1.2rem 1.2rem 0;
  }

  /* Уменьшаем отступы для main */
  main {
    padding: 0 1.2rem; /* Отступы для основного контента на маленьких экранах */
  }

  main .body-main-title h1 {
    font-size: 3rem;
  }

  main .body-registration-container {
    height: 93vh; /* Высота контейнера регистрации */
    margin-top: 0; /* Убираем верхний отступ */
  }

  main .body-registration-container .body-registration h2 {
    font-size: 1.8rem; /* Размер заголовка в контейнере регистрации */
  }

  main
    .body-registration-container
    .body-registration
    .body-registration-inputs
    p {
    font-size: 1.8rem; /* Размер текста в контейнере регистрации */
    color: #ffffff; /* Белый цвет текста */
    text-align: center; /* Центрирование текста */
    margin: 1rem 0 1rem; /* Отступы сверху и снизу */
  }

  main
    .body-registration-container
    .body-registration
    .body-registration-inputs
    input {
    width: 270px; /* Ширина полей ввода */
    height: 45px; /* Высота полей ввода */
  }

  main .body-login-container .body-login h2 {
    font-size: 1.8rem; /* Размер заголовка в контейнере авторизации */
  }

  main .body-login-container .body-login .body-login-inputs p {
    font-size: 1.8rem; /* Размер текста в контейнере авторизации */
  }

  main .body-login-container .body-login .body-login-inputs input {
    width: 270px; /* Ширина полей ввода в контейнере авторизации */
    height: 45px; /* Высота полей ввода в контейнере авторизации */
  }

  /* Устанавливаем ширину для полей ввода в персональном разделе */
  main
    .body-personal-container
    .body-personal-bg
    .body-personal-password-change-con
    .body-personal-password-change
    .form-inputs
    input {
    width: 200px; /* Ширина полей ввода в персональном разделе */
  }

  /* Устанавливаем размеры для персонального раздела */
  main
    .body-personal-container
    .body-personal-bg
    .body-personal-password-change-con
    .body-personal-password-change {
    width: 300px; /* Ширина контейнера персонального раздела */
    height: 350px; /* Высота контейнера персонального раздела */
  }

  footer .footer-container {
    margin: 2.1rem 2.1rem; /* Отступы для футера */
  }
}
