/* Импорт стилей и шрифтов */
@import url("./preloader.css");
@import url("./cssReset.css");
@import url("./caroulsel.css");
@import url("./header/header.css");
@import url("./main/index.css");
@import url("./main/registration.css");
@import url("./main/personal.css");
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic); /*!Шрифт всего проекта */

/* Основные стили для body */
body {
  background-repeat: no-repeat;
  background-size: cover;
  font-display: swap;
}

/* Основные стили для main */
main {
  padding: 0 7.1rem;
}

/* Стили для swiper */
.swiper {
  margin-left: inherit !important;
  margin-right: inherit !important;
}

/* Медиа-запросы для адаптивности */

/* Экран до 1299px (ноутбуки и планшеты в альбомной ориентации) */
@media screen and (max-width: 1299px) {
  /* Устанавливаем минимальную высоту для body */
  body {
    min-height: 100vh;
  }

  /* Устанавливаем отступы для header */
  header {
    margin: 3.1rem 3.1rem 0;
  }

  /* Устанавливаем расстояние между ссылками в header */
  header .header-links .header-link {
    gap: 2rem;
  }

  /* Уменьшаем размер шрифта для ссылок в header */
  header .header-links .header-link a {
    font-size: 1.8rem;
  }

  /* Уменьшаем размер шрифта для кнопки "Присоединяйтесь к нам" */
  header .header-links .header-join-us a {
    font-size: 1.8rem;
  }

  /* Уменьшаем отступы для main */
  main {
    padding: 0 4.1rem;
  }

  /* Переключаем flex-ориентацию для основного контента */
  main .body-main-content {
    flex-direction: column;
  }

  /* Центрируем элементы социальных сетей */
  main .body-main-content .body-main-social-items {
    margin-top: 3rem;
    flex-direction: row;
    justify-content: center;
  }

  /* Переключаем flex-ориентацию для контейнера регистрации */
  main .body-registration-container {
    flex-direction: column;
  }

  /* Уменьшаем размер заголовка в main */
  main .body-main-title h1 {
    font-size: 6.5rem;
  }

  /* Настраиваем отступы и ориентацию для социальных кнопок в регистрации */
  main
    .body-registration-container
    .body-registration-social-container
    .body-registration-social-items {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: inherit;
    padding-left: 0;
    flex-direction: row;
  }
}

/* Экран до 992px (планшеты в портретной ориентации) */
@media screen and (max-width: 992px) {
  /* Уменьшаем отступы для main */
  main {
    padding: 0 3.2rem;
  }

  /* Устанавливаем верхний отступ для заголовка */
  main .body-main-title {
    margin-top: 2.7rem;
  }

  /* Отключаем вертикальную прокрутку для html */
  html.overflowing {
    overflow-y: hidden;
  }

  /* Устанавливаем отступы для header */
  header {
    margin: 3.2rem 3.2rem 0;
  }

  /* Скрываем ссылки в header */
  header .header-links .header-link {
    display: none;
  }

  /* Уменьшаем размер шрифта для кнопки "Присоединяйтесь к нам" */
  header .header-links .header-join-us a {
    font-size: 1.8rem;
  }

  /* Настраиваем отображение бургер-меню */
  header .header-links .burger-menu-con {
    display: flex;
    justify-content: end;
    height: 100%;
  }

  /* Стили для кнопки бургер-меню */
  header .header-links .burger-menu-con .burger-button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }

  /* Стили для выпадающего меню бургер-меню */
  header .header-links .burger-menu-con .burger-menu-nav {
    position: fixed;
    right: -300px;
    background: #ffc0cb;
    top: 0;
    padding: 3rem;
    width: 300px;
    height: 100%;
    z-index: 200;
    transition: right 0.3s linear;
  }

  /* Открытое состояние бургер-меню */
  header .header-links .burger-menu-con .burger-menu-nav.open {
    right: 0;
  }

  /* Активное состояние затемнения фона */
  header .header-links .burger-menu-con .mobile-overlay.active {
    visibility: visible;
    opacity: 1;
    background-color: #191919bf;
    position: fixed;
    inset: 0;
    z-index: 180;
  }

  /* Стили для навигации внутри бургер-меню */
  header .header-links .burger-menu-con .burger-menu-nav nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
  }

  /* Стили для изображений в навигации бургер-меню */
  header .header-links .burger-menu-con .burger-menu-nav nav img {
    max-width: 3rem;
    cursor: pointer;
  }

  /* Стили для ссылок в навигации бургер-меню */
  header .header-links .burger-menu-con .burger-menu-nav nav a {
    font-size: 2rem;
    font-weight: 700;
    line-height: 100%;
    color: #ffffff;
    transition: 0.3s linear;
  }

  /* Ховер-эффект для ссылок в бургер-меню */
  header .header-links .burger-menu-con .burger-menu-nav nav a:hover {
    color: hotpink;
  }

  /* Уменьшаем размер шрифта для персональных ссылок */
  header .header-links .header-personal a {
    font-size: 1.8rem;
  }

  /* Устанавливаем максимальную ширину для изображений профиля */
  header .header-links .header-personal img {
    max-width: 5rem;
  }

  /* Настраиваем отступы и выравнивание для персонального контейнера */
  main .body-personal-container .body-personal-bg {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  /* Устанавливаем высоту для полей ввода в персональном разделе */
  main
    .body-personal-container
    .body-personal-bg
    .body-personal-password-change-con
    .body-personal-password-change
    .form-inputs
    input {
    height: 47px;
  }

  /* Уменьшаем размер шрифта для текста в персональном разделе */
  main
    .body-personal-container
    .body-personal-bg
    .body-personal-password-change-con
    p {
    font-size: 1.2rem;
  }

  /* Скрываем раздел скин-персонализации */
  .body-personal-skin-con {
    display: none;
  }

  /* Переключаем flex-ориентацию для основного контента */
  main .body-main-content {
    flex-direction: column;
    margin-top: 3rem;
  }

  /* Центрируем элементы социальных сетей */
  main .body-main-content .body-main-social-items {
    margin: 3rem 0 3rem;
    flex-direction: row;
    justify-content: center;
  }

  /* Уменьшаем размер заголовка в main */
  main .body-main-title h1 {
    font-size: 5rem;
  }
}

/* Экран до 767px (смартфоны в альбомной ориентации) */
@media screen and (max-width: 767px) {
  /* Устанавливаем отступы для header */
  header {
    margin: 1.2rem 1.2rem 0;
  }

  /* Уменьшаем отступы для main */
  main {
    padding: 0 1.2rem;
  }

  /* Настраиваем отступы для фона регистрации */
  main .body-registration-container .body-registration-bg {
    padding: 3rem;
  }

  /* Настраиваем отступы для контейнера регистрации */
  main .body-registration-container .body-registration-bg .body-registration {
    padding: 3rem;
  }

  /* Устанавливаем нижний отступ для заголовков в регистрации */
  main
    .body-registration-container
    .body-registration-bg
    .body-registration
    h3 {
    padding-bottom: 3.6rem;
  }

  /* Уменьшаем размер заголовка в main */
  main .body-main-title h1 {
    font-size: 2.5rem;
  }

  /* Уменьшаем размер заголовков в регистрации */
  main
    .body-registration-container
    .body-registration-bg
    .body-registration
    h3 {
    font-size: 1.5rem;
  }

  /* Уменьшаем размер текста в полях ввода */
  main
    .body-registration-container
    .body-registration-bg
    .body-registration
    .form-inputs
    p {
    font-size: 1.5rem;
  }

  /* Устанавливаем ширину и высоту для полей ввода */
  main
    .body-registration-container
    .body-registration-bg
    .body-registration
    .form-inputs
    input {
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
  }

  /* Уменьшаем размер ссылок в регистрации */
  main
    .body-registration-container
    .body-registration-bg
    .body-registration
    .input-links
    a {
    font-size: 1.2rem;
  }

  /* Уменьшаем размер текста в абзацах */
  p {
    font-size: 1.8rem;
  }

  /* Устанавливаем ширину для полей ввода в персональном разделе */
  main
    .body-personal-container
    .body-personal-bg
    .body-personal-password-change-con
    .body-personal-password-change
    .form-inputs
    input {
    width: 200px;
  }

  /* Устанавливаем размеры для персонального раздела */
  main
    .body-personal-container
    .body-personal-bg
    .body-personal-password-change-con
    .body-personal-password-change {
    width: 300px;
    height: 350px;
  }
}
