@import url("./cssReset.css");
@import url("./caroulsel.css");
@import url("./burgermenu.css");
@import url("./header/header.css");
@import url("./main/index.css");
@import url("./main/registration.css");
@import url("./main/personal.css");
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic); /*!Шрифт всего проекта */
@import url(./response.css);

body {
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  padding: 0 7.1rem;
}
